* {
    margin: 0;
    padding: 0;
}

button {
    width: fit-content;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 30px;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 10px;
}

img {
    padding-right: 250px;
    padding-top: 100px;
    padding-bottom: 110px;
    width: 500px;
    height: auto;

}
.header {
    background: #1f2937;
    color: #F9FAF8;
    font-size: 24px;
    padding: 20px 250px;
    display: flex;
    justify-content: space-between;
}

.header-text {
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #E5E7Eb
}

.text-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1f2937;
}

.hero-text {
    display: flex;
    flex-direction: column;
    width: 340px;
    padding-left: 250px;
    padding-bottom: 50px;
}

.big-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.small-text {
    color: #E5E7Eb;
    font-size: 18;
}

/***********************************************/

.four-containers {
    display: flex;
    border: 5px solid blue;
    flex-direction: column;

}

.container-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;   
    padding: 50px; 
}

.boxes {
    border: 5px solid #3882F6;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 100px;

}

