* {
    margin: 0;
    padding: 0;
}

button {
    max-width: fit-content;
}
.header {
    background: #1f2937;
    color: #F9FAF8;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.header-text {
    display: flex;
    gap: 20px;
}

.text-image {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.hero-text {
    display: flex;
    flex-direction: column;
}